# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg
*.log

# FastAPI / Uvicorn
*.db
instance/
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.cache/
.env

*/__pycache__/